body {
    margin: 0;
    line-height: normal;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.user-home {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.landing-nav-bar {
  position: absolute;
  background-color: var(--color-darkslateblue-200);
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: flex-end;
}
.nav-bar-main {
  position: absolute;
  font-size: var(--font-size-base);
  font-family: var(--font-kite-one);
  color: var(--color-darkslateblue-100);
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 73px;
}
.nav-bar-main:hover{
  text-decoration: underline;
  color: var(--color-darkslateblue-100);
}
.inpairs-logo-nav {
  position: absolute;
  top: 16%;
  left: 2%;
  height: 60%;
  object-fit: cover;
}
.user-profile {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    top: 90px;
    padding: 20px 50px 50px 50px;
}
.profile {
    position: relative;
    width: 100%;
    height: 100%;
}
.title {
    position: relative;
    font-size: 36px;
    color: var(--color-darkslateblue-100);
    font-family: var(--font-lato);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;
}
.profile-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap !important;
    align-items: flex-start;
    justify-content: center;
    column-gap: 20px;
}
.prof-pic {
    height: 50%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
}
.demographics {
    height: 25%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
    box-sizing: border-box;
    padding: 25px;
    margin-top: 40px;
}
.scales {
    height: 25%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
    box-sizing: border-box;
    padding: 25px;
    margin-top: 40px;
}
.about-me {
    height: 50%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
    box-sizing: border-box;
    padding: 25px;
}
.role-of-islam {
    height: 50%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
    box-sizing: border-box;
    padding: 25px;
    margin-top: 40px;
}
.buttons {
    height: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10%;
    margin: 15%;
}

.delete,
.edit{
    border: none;
    border-radius: 60px;
    width: 250px;
    height: 100px;
    border-radius: 60px;
    background-color: var(--color-tomato);
    font-family: var(--font-kite-one);
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-sm);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit{
    background-color: rgb(1, 173, 1);
}
.edit:hover{
    text-decoration: underline;
    color: var(--color-white);
}
.delete:hover{
    text-decoration: underline;
    color: var(--color-white);
}
.passion {
    height: 75%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
    box-sizing: border-box;
    padding: 25px;


}
.interests {
    height: 25%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 40px;
}
.heading {
    font-size: 24px;
    font-family: var(--font-lato);
    color: var(--color-darkslateblue-100);
}
.text {
    font-size: 20px;
    font-family: var(--font-lato);
    color: var(--color-darkslateblue-100);
    margin-bottom: 0px !important;
}



.carousel {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    height: 50%;
    border: 1px solid var(--color-darkslateblue-100);
    border-radius: 60px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container {
    display: flex;
    position: relative;
    left: 0;
    border-radius: 60px;
    /* animation: slide 8s infinite; */
}

@keyframes slide {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -500px; }
    45% { left: -500px; }
    50% { left: -1000px; }
    70% { left: -1000px; }
    75% { left: -1500px; }
    95% { left: -1500px; }
    100% { left: 0; }
}
.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}